$blanco: #fff;
$negro: #000;
$azul-oscuro: #0d3445;
$amarillo: #ffc107;
$verde: #74e507;
$gris-1: #f2f4f5;
$gris-2: #6e858f;
$gris-3: #f6f7f7;
$fucsia: #e6077e;
$celeste: #00d4fc;
$oscuro-1: #010f14;
$oscuro-2: #01212e;
$oscuro-3: #09212d;
$rojo: #d90000;
