// Columnas
.col-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    & > * {
        align-self: stretch;
    }
    &.v-centered {
        align-items: center !important;
    }
}
// Botones
button,
.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: auto;
    line-height: 100%;
    padding-bottom: calc(0.5rem - 1px);
    padding-left: calc(0.75rem - 1px);
    padding-right: calc(0.75rem - 1px);
    padding-top: calc(0.5rem - 1px);
    position: relative;
    vertical-align: top;
    font-weight: 700;
    @extend .transition;
    &.is-rounded {
        padding-left: calc(1rem - 1px);
        padding-right: calc(1rem - 1px);
        border-radius: 100rem;
    }
    &.is-green {
        background-color: $verde;
        color: $oscuro-2;
        border-color: $verde;
        &:hover {
            background-color: $oscuro-2;
            color: $blanco;
            border-color: $oscuro-2;
        }
    }
    &.is-gray {
        background-color: $gris-3;
        color: $azul-oscuro;
        border-color: $gris-3;
        &:hover {
            background-color: $verde;
            color: $oscuro-2;
            border-color: $verde;
        }
    }
    &.has-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        span {
            display: inline-block;
            margin-right: 0.75rem;
        }
        i {
            font-size: 1.25rem;
        }
    }
    &.size-xl {
        padding-bottom: calc(1rem - 1px);
        padding-left: calc(1.5rem - 1px);
        padding-right: calc(1.5rem - 1px);
        padding-top: calc(1rem - 1px);
    }
}
.has-button {
    a {
        @extend .button;
    }
    &.is-rounded {
        a {
            padding-left: calc(1rem - 1px);
            padding-right: calc(1rem - 1px);
            border-radius: 100rem;
        }
    }
    &.is-green {
        a {
            background-color: $verde;
            color: $oscuro-2;
            border-color: $verde;
            &:hover {
                background-color: $oscuro-2;
                color: $blanco !important;
                border-color: $oscuro-2;
            }
        }
    }
}

// Velo Azul
@for $i from 1 to 100 {
    .op-blue-#{$i} {
        background-color: rgba($azul-oscuro, $i/100);
    }
}

.veil {
    width: 100%;
    height: 100%;
}

// Mask
.mask {
    width: 100%;
    height: 100%;
    mask-repeat: no-repeat !important;
}
.mask-top {
    mask: url(img/mask-top.svg);
    mask-position: center top;
    mask-size: 100% auto;
}
.mask-bottom {
    mask: url(img/mask-bottom.svg);
    mask-position: center bottom;
    mask-size: 100% auto;
}
.mask-side {
    mask: url(img/mask-side.svg);
    mask-position: left top;
    mask-size: 100% auto;
}

// Fondos
.bg-gray {
    background-color: $gris-1;
}
.bg-dark-3 {
    background-color: $oscuro-3;
}
.bg-blue {
    background-color: $azul-oscuro;
}
.bg-white {
    background-color: $blanco;
}

// Spacer
@for $s from 0 to 10 {
    .spacer-#{$s} {
        padding: $s * 1rem 0;
    }
}

// Textos
.title-area {
    margin-bottom: 3.5rem;
}
.title {
    font-size: 3.438rem;
    color: $oscuro-2;
}
.title-2 {
    font-size: 2rem;
    color: $oscuro-2;
}
.parrafo {
    color: $azul-oscuro;
    font-weight: 300;
    &-l {
        @extend .parrafo;
        font-size: 1.2rem;
        line-height: 160%;
    }
    &-m {
        @extend .parrafo;
        font-size: 1rem;
        line-height: 140%;
    }
    &-s {
        @extend .parrafo;
        color: $azul-oscuro;
        font-weight: 300;
        font-size: 0.85rem;
        line-height: 120%;
    }
}

// Imágenes
.img-full {
    width: 100%;
    height: 100%;
}
// Cajas con Iconos
.icon-boxs-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    .icon-box-type-a {
        display: block;
        margin: 0 0.3rem 0.6rem;
        width: 205px;
        height: 205px;
        border: 1px solid rgba($oscuro-2, 0.3);
        background-color: rgba($blanco, 0.8);
        backdrop-filter: blur(15px);
        padding: 1.25rem;
        position: relative;
        overflow: hidden;
        @extend .transition-slow;
        .box-icon {
            display: block;
            height: 50px;
            width: auto;
            margin-bottom: 1.25rem;
        }
        h3 {
            font-size: 1.125rem;
            font-weight: 700;
            color: $oscuro-2;
            @extend .primary-font;
            @extend .transition-slow;
        }
        .go-icon {
            position: absolute;
            left: 1.25rem;
            bottom: 1.25rem;
            width: 30px;
            height: 30px;
            border-radius: 100rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            color: $blanco;
            font-weight: 300;
            background-color: $gris-1;
            opacity: 0;
            transform: translateY(3.5rem);
            @extend .transition-slow;
        }
        &:hover {
            -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
            h3 {
                color: $fucsia;
            }
            .go-icon {
                background-color: $fucsia;
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}
.slide-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    .arrow {
        margin: 0;
        border-radius: 0;
        &.prev {
            padding-left: 0.75rem;
            border-top-left-radius: 10rem;
            border-bottom-left-radius: 10rem;
        }
        &.next {
            padding-right: 0.75rem;
            border-top-right-radius: 10rem;
            border-bottom-right-radius: 10rem;
        }
    }
}
