@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

$primary-font: 'Inter', sans-serif;
$secondary-font: 'IBM Plex Mono', monospace;

.primary-font,
body,
button,
input,
select,
textarea{
	font-family: $primary-font;
}

.secondary-font{
	font-family: $secondary-font;
}
