#form-footer {
    margin-top: 3rem;
    padding: 8rem 0 3rem;
    .parrafo-m {
        margin: 2rem 0;
    }
    .contact-info-area {
        .contact-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 2rem;
            color: $azul-oscuro;
            &:last-child {
                margin-bottom: 0;
            }
            i {
                font-size: 2rem;
            }
            span {
                font-size: 0.85rem;
                font-weight: 700;
                display: inline-block;
                margin-left: 0.75rem;
            }
        }
    }
}
.contact-form-area {
    .col-container {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .text-input,
    .textarea-input {
        width: 100%;
        padding: 1rem 0.75rem;
        font-size: 1rem;
        background-color: $blanco;
        color: $azul-oscuro;
        border-radius: 6px;
        border: 1px solid $blanco;
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $azul-oscuro;
            font-weight: 700;
            font-size: 0.85rem;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: $azul-oscuro;
            font-weight: 700;
            font-size: 0.85rem;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: $azul-oscuro;
            font-weight: 700;
            font-size: 0.85rem;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: $azul-oscuro;
            font-weight: 700;
            font-size: 0.85rem;
        }
        &.wpcf7-not-valid {
            border-color: $rojo;
        }
    }
    .textarea-input {
        height: 120px;
    }
    .submit-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .response-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    span.wpcf7-not-valid-tip {
        position: absolute;
        font-size: 0.75rem;
    }
    div.wpcf7-response-output {
        margin: 0;
        padding: 0.5rem 0;
        border: none;
        font-size: 0.85rem;
        width: 100%;
    }
}

#cta-rrss {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .cta-content-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5 {
            color: $blanco;
            font-size: 1.65rem;
        }
        .rrss-area {
            display: flex;
            align-items: center;
            justify-content: center;
            .rrss-link {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                width: 40px;
                height: 40px;
                border-radius: 100rem;
                border: 2px solid $verde;
                color: $blanco;
                margin: 0 0.5rem;
                @extend .transition;
                &:hover {
                    color: $azul-oscuro;
                    background-color: $verde;
                }
            }
        }
    }
}

#partner-logos {
    padding: 3rem 0;
    .partners-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-area {
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
            text-align: center;
            padding: 0 12%;
            position: relative;
            img {
                width: auto;
                height: 130px;
                display: inline-block;
            }
            &:first-child {
                text-align: left;
                padding-left: 0;
            }
            &:last-child {
                text-align: right;
                padding-right: 0;
                &:after {
                    display: none;
                }
            }
            &:after {
                position: absolute;
                top: 50%;
                right: 0;
                width: 3px;
                height: 100px;
                transform: translateY(-50%);
                content: "";
                display: block;
                background-color: rgba($blanco, 0.3);
            }
        }
    }
}
footer {
    .footer-content {
        padding: 3rem 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        .brand-area {
            width: 70%;
            max-width: 250px;
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .menu-footer-area {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            & > * {
                width: 200px;
            }
            .menu-foot {
                li {
                    margin-bottom: 0.5rem;
                    a {
                        font-size: 0.75rem;
                        color: $azul-oscuro;
                        line-height: 100%;
                        vertical-align: middle;
                        font-weight: 400;
                        &:hover {
                            color: $verde;
                        }
                    }
                    &.has-button {
                        a {
                            padding: 0;
                            border: none;
                            background-color: transparent !important;
                            font-size: 0.75rem;
                            color: $azul-oscuro;
                            line-height: 100%;
                            vertical-align: middle;
                            font-weight: 400;
                            &:hover {
                                color: $verde !important;
                            }
                        }
                    }
                    &.search-btn {
                        display: none;
                    }
                    &.active {
                        a {
                            font-weight: 700 !important;
                        }
                    }
                }
                .sub-menu {
                    display: none;
                }
            }
            .contact-info-area {
                .contact-info {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 1rem;
                    color: $azul-oscuro;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    i {
                        font-size: 1rem;
                    }
                    span {
                        font-size: 0.75rem;
                        font-weight: 700;
                        display: inline-block;
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }
}
