.menu-responsive{
	right: -100%;
	width: 100%;
	padding: 100px 10% 70px !important;
	bottom: 0;
	top: 0;
	position: fixed;
	z-index: 9;
	background-color: rgba($blanco, 0.8);
	backdrop-filter: blur(10px);
	@extend .transition-slower;
	.menu-container {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		float: left;
		position: relative;
		z-index: 1;
		ul{
			@include clearfix();
			li{
				@extend .left;
				@extend .col-100;
				a{
					color: $negro;
					padding: 15px 0;
					@extend .font-28;
					@extend .text-center;
					@extend .left;
					@extend .col-100;
				}
				&.active{
					a{
						opacity: 0.5;
					}
				}
			}
		}
	}
	&.opened {
			right: 0px !important;
	}
}
