.gd {
    color: $verde;
}
.bd {
    color: $celeste;
}
header {
    background-color: transparent;
    position: fixed;
    z-index: 10;
    @extend .transition-slow;
    #main-header {
        padding: 2rem 0;
    }
    .brand-area {
        position: relative;
        z-index: 3;
    }
    .menu-area {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        #main-menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            li {
                margin: 0 0 0 2rem;
                a {
                    position: relative;
                    z-index: 2;
                    color: $azul-oscuro;
                    font-size: 0.875rem;
                }
                &.active {
                    a {
                        @extend .bold;
                        &:before {
                            position: absolute;
                            width: 30px;
                            height: 3px;
                            background-color: $verde;
                            display: block;
                            left: 0;
                            bottom: -5px;
                            content: "";
                        }
                    }
                }
                &:hover:not(.active) {
                    a {
                        color: $verde;
                    }
                }
                &.menu-item-has-children {
                    & > a {
                        position: relative;
                        padding-right: 1.5rem;
                        &:after {
                            font-family: "icomoon" !important;
                            speak: none;
                            font-style: normal;
                            font-weight: normal;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 100%;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            content: "\e92e";
                            display: block;
                            font-size: 1.25rem;
                            color: inherit;
                            position: absolute;
                            right: 0;
                            top: -1px;
                            @extend .transition-slow;
                        }
                    }
                    &:hover {
                        & > a {
                            &:after {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    &.mega-menu {
                        & > .sub-menu {
                            width: 100%;
                            background-color: $blanco;
                            top: calc(100% - 5rem);
                            right: 0;
                            z-index: -10;
                            pointer-events: none;
                            padding: 5rem 0 2rem;
                            position: absolute;
                            @extend .transition;
                            @include opacity(0);
                            @include translateY(-20px);
                            display: flex;
                            align-items: start;
                            justify-content: center;
                            & > .menu-column {
                                flex-grow: 1;
                                max-width: 200px;
                                & > a {
                                    text-decoration: none;
                                    color: $azul-oscuro;
                                    font-size: 1.188rem;
                                    font-weight: 700;
                                    margin-bottom: 1.5rem;
                                    display: block;
                                    pointer-events: none;
                                    &:after {
                                        display: none !important;
                                    }
                                }
                                .sub-menu {
                                    li {
                                        margin: 0 0 0.688rem;
                                        a {
                                            color: $azul-oscuro;
                                            font-size: 0.875rem;
                                            font-weight: 300;
                                        }
                                        &.active {
                                            a {
                                                @extend .bold;
                                                &:before {
                                                    position: absolute;
                                                    width: 30px;
                                                    height: 3px;
                                                    background-color: $verde;
                                                    display: block;
                                                    left: 0;
                                                    bottom: -5px;
                                                    content: "";
                                                }
                                            }
                                        }
                                        &:hover:not(.active) {
                                            a {
                                                color: $verde;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        &.mega-menu {
                            & > .sub-menu {
                                pointer-events: auto;
                                @extend .z-index-1;
                                @include opacity(1);
                                @include translateY(0px);
                            }
                        }
                    }
                    &.active {
                        ul.sub-menu {
                            li {
                                a {
                                    @extend .regular;
                                    &:hover {
                                        @include opacity(0.6);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #secondary-menu {
            position: static;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 1rem;
            li {
                margin: 0 0 0 2rem;
                a {
                    position: relative;
                    z-index: 2;
                    color: $gris-2;
                    font-size: 0.75rem;
                    font-weight: 700;
                }
                &.active {
                    a {
                        &:before {
                            position: absolute;
                            width: 30px;
                            height: 3px;
                            background-color: $verde;
                            display: block;
                            left: 0;
                            bottom: -5px;
                            content: "";
                        }
                    }
                }
            }
            &.inactive {
                pointer-events: none;
            }
        }
    }

    &.nav-down {
        transform: translateY(-100px);
    }
    #hamburger {
        width: 30px;
        height: 20px;
        margin: 17px 0;
        cursor: pointer;
        display: none;
        span {
            position: absolute;
            width: 100%;
            height: 1.5px;
            background-color: $blanco;
            @extend .transition-slow;
            &.line-1 {
                top: 0;
            }
            &.line-2 {
                top: 50%;
            }
            &.line-3 {
                top: 100%;
            }
        }
        &:hover {
            span {
                &.line-1 {
                    @include translateY(-2px);
                }
                &.line-3 {
                    @include translateY(2px);
                }
            }
        }
        &.close {
            span {
                position: absolute;
                &.line-1 {
                    transform: rotate(45deg);
                    top: 10px;
                }
                &.line-2 {
                    transform: rotate(-45deg);
                }
                &.line-3 {
                    @include opacity(0);
                }
            }
        }
    }
}

.menu-responsive {
    right: -100%;
    width: 100%;
    padding: 100px 10% 70px !important;
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: 9;
    background-color: rgba($blanco, 0.75);
    backdrop-filter: blur(5px);
    @extend .transition-slower;
    .menu-container {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        float: left;
        position: relative;
        z-index: 1;
        ul {
            @include clearfix;
            li {
                @extend .left;
                @extend .col-100;
                a {
                    color: $negro;
                    padding: 15px 0;
                    @extend .font-28;
                    @extend .text-center;
                    @extend .left;
                    @extend .col-100;
                }
                &.active {
                    a {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    &.opened {
        right: 0px !important;
    }
}
