.wrap-xl {
    max-width: 1304px;
}
.set-height {
    height: 100vh;
}
#intro {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.titulo-principal-area {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    .titulo-principal {
        h1 {
            color: $oscuro-2;
            font-weight: 700;
            font-size: 3.438rem;
            line-height: 80%;
            margin-bottom: 1rem;
            b {
                color: $verde;
                font-weight: 500;
            }
        }
    }
    &:after {
        position: absolute;
        display: inline-block;
        width: 800px;
        height: 1000px;
        background-image: url("img/w-iso.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        right: -10%;
        top: 50%;
        content: "";
        z-index: -1;
    }
}
.carousel-area {
    width: 100%;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
    #carousel-servicios {
        .slick-arrow {
            top: 15%;
            background-color: rgba($blanco, 0.3);
            color: $blanco;
            width: 40px;
            height: 40px;
            &:hover {
                color: $azul-oscuro;
                background-color: rgba($blanco, 1);
            }
            &.slick-prev {
                &:before {
                    font-size: 1.5rem;
                    content: "\e911";
                }
            }
            &.slick-next {
                &:before {
                    font-size: 1.5rem;
                    content: "\e913";
                }
            }
        }
        .service-box {
            width: 100%;
            padding: 1.85rem;
            height: 280px;
            display: inline-block;
            position: relative;
            .photo-bg-full {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            .content-box {
                position: relative;
                z-index: 2;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                h2 {
                    font-weight: 700;
                    color: $blanco;
                    font-size: 1.625rem;
                    line-height: 100%;
                }
            }
        }
    }
}
#work-us {
    .titulo {
        h2 {
            font-size: 3.438rem;
            color: $oscuro-2;
            b {
                color: $verde;
            }
        }
    }
    .cifras-area {
        padding: 3rem 0;
        width: 100%;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        .cifra-box {
            display: block;
            width: 33%;
            display: flex;
            justify-content: center;
            .cifra-item {
                width: max-content;
                .number-full {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    font-weight: 700;
                    width: max-content;
                    margin: 0 auto;
                    font-size: 1rem;
                    .precifra {
                        color: $verde;
                        font-size: 3.75em;
                        line-height: 100%;
                    }
                    .cifra {
                        font-size: 3.313em;
                        color: $azul-oscuro;
                        letter-spacing: -1px;
                        margin: 0 5px;
                        line-height: 100%;
                    }
                    .postcifra {
                        font-size: 2em;
                        color: $verde;
                    }
                }
                .descripcion-area {
                    margin: 0.5rem auto 0;
                    width: max-content;
                    max-width: 280px;
                    p {
                        text-align: center;
                        font-size: 1rem;
                        color: $oscuro-2;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
#all-soluciones-home {
    .content-area {
        display: flex;
        align-items: start;
        justify-content: space-between;
        #soluciones-filter {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            a {
                margin-bottom: 1.25rem;
            }
        }
        #soluciones-posts {
            width: 100%;
            position: relative;
            .solucion-cat-container {
                width: 100%;
                position: relative;
                top: 0;
                left: 0;
                flex-grow: 0;
                z-index: -1;
                opacity: 0;
                pointer-events: none;
                @extend .transition-slower;
                &.active {
                    flex-grow: 1 !important;
                    z-index: 1 !important;
                    opacity: 1 !important;
                    pointer-events: all !important;
                }
            }
        }
    }
}

#clientes-home {
    .clientes-home-area {
        width: 100%;
        #clientes-carousel {
            .slick-slide {
                & > div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0.75rem 0;
                }
            }
            .slide {
                width: 100%;
                height: 92px;
                margin: 0.15rem;
            }
            .logo-container {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $gris-1;
            }
        }
    }
}

.casos-exito-home {
    #casos-home-slide {
        border: 1px solid rgba($oscuro-2, 0.3);
        .caso-content {
            .caso-info {
                padding: 3rem 4rem;
                .caso-industria {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    img {
                        display: block;
                        width: 30px;
                        height: auto;
                        margin-right: 1rem;
                    }
                    span {
                        font-size: 0.875rem;
                        font-weight: 700;
                        display: block;
                        padding: 0.75rem 1.5rem;
                        background-color: $gris-1;
                        border-radius: 200rem;
                        color: $azul-oscuro;
                        line-height: 100%;
                    }
                }
                .caso-cliente {
                    padding: 5rem 0 4.5rem;
                    .cliente-logo {
                        margin-bottom: 3rem;
                        width: 80%;
                        max-width: 180px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .caso-data {
                        h3 {
                            margin-bottom: 1.85rem;
                        }
                    }
                }
                .navigation-area {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .slide-arrows {
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
}

#nosotros-home {
    position: relative;
    .img-full {
        position: absolute;
        left: 0;
        top: 0;
        width: 715px;
        height: 765px;
        transform: translateY(-14.25rem);
        z-index: -1;
    }
    .wrap-xl {
        display: flex;
        justify-content: flex-end;
    }
}

#novedades-home {
    .content {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .slide-arrows {
        margin-top: 2rem;
        text-align: left;
        justify-content: flex-start;
    }
}
.novedades-area {
    width: 100%;
    overflow: hidden;
    #carousel-novedades {
        transform: translateX(5%);
        .slide {
            margin: 0 1rem 0 0;
            .news-box {
                width: 100%;
                height: 500px;
                position: relative;
                overflow: hidden;
                display: block;
                .img-full {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    background-blend-mode: multiply;
                    .veil {
                        position: absolute;
                        z-index: 2;
                        @extend .transition-slow;
                        &.gradient-front {
                            background: rgb(210, 8, 116);
                            background: linear-gradient(
                                30deg,
                                rgba(210, 8, 116, 1) 0%,
                                rgba(210, 8, 116, 0) 50%
                            );
                            opacity: 0;
                        }
                        &.gradient-back {
                            background: rgb(1, 33, 46);
                            background: linear-gradient(
                                30deg,
                                rgba(1, 33, 46, 1) 0%,
                                rgba(1, 33, 46, 0) 74%
                            );
                            opacity: 1;
                        }
                    }
                }
                .news-content {
                    width: 100%;
                    padding: 2rem;
                    position: absolute;
                    z-index: 3;
                    bottom: -4.5rem;
                    left: 0;
                    @extend .transition-slow;
                    h4 {
                        font-size: 2rem;
                        font-weight: 700;
                        color: $blanco;
                        width: 100%;
                        margin-bottom: 2rem;
                    }
                }
                &:hover {
                    .veil {
                        &.gradient-front {
                            opacity: 1;
                        }
                        &.gradient-back {
                            opacity: 0;
                        }
                    }
                    .news-content {
                        bottom: 0;
                    }
                }
            }
        }
    }
}
