.modal{
	overflow: hidden;
	z-index: 10;
	display: none;
	top: 0;
	left: 0;
	@extend .z-index-10;
	@extend .col-100;
	@extend .height-100;
	@extend .fixed;
	@include clearfix;
	.close {
		position: absolute;
		z-index: 10;
		background-color: $negro;
		color: $blanco;
		padding: 10px;
		right: calc(20% - 20px);
		top: calc(20% - 20px);
		font-size: 30px;
		cursor: pointer;
		@extend .transition-slow;
		@extend .border-radius-xl;
		&:hover{
			@include rotate(-90deg);
		}
	}
	.modal-background{
		@extend .col-100;
		@extend .height-100;
		@extend .fixed;
		background-color: rgba($negro, 0.7);
	}
	.content-modal{
		border: 15px solid $blanco;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		width: 60%;
		height: 60vh;
		background-color: $blanco;
		overflow-y: auto;
		@extend .z-index-1;
		@extend .absolute;
		@extend .border-radius-m;
		iframe{
			border: none;
			width: 100%;
			height: calc(60vh - 30px);
			@extend .border-radius-m;
		}
	}
}
