ul.slick-dots{
	@extend .absolute;
	li{
		height: 10px;
		width: 10px;
		background-color: rgba($blanco, 0.5);
		margin: 0 2.5px;
		cursor: pointer;
		@extend .left;
		@extend .border-radius-xl;
		@extend .transition;
		button{
			display: none;
		}
		&.slick-active,
		&:hover{
			background-color: $blanco;
		}
	}
}

.slick-arrow{
	top: 50%;
	padding: 0;
	width: 50px;
	height: 50px;
	border: none;
	font-size: 0;
	cursor: pointer;
	background-color: $blanco;
	@extend .border-radius-xl;
	@extend .absolute;
	@extend .z-index-2;
	@extend .transition;
	&:before{
		@extend .font-30;
	}
	&.slick-prev{
		left: 25px;
		@include icomoon("icon-chevron-izquierda");
	}
	&.slick-next{
		right: 25px;
		@include icomoon("icon-chevron-derecha");
	}
	&:hover{
		background-color: $negro;
		color: $blanco;
	}
}
