.slider-5-container{
	.slider-5{
		.slide{
			.content{
				padding: 200px 10% 150px 0;
				color: $blanco;
				@extend .col-50;
				@extend .z-index-3;
				@extend .relative;
				@extend .right;
				.pre-title{
					@extend .font-20;
				}
				.title{
					@extend .font-32;
					@extend .extra-bold;
				}
				.description{
					@extend .font-16;
				}
				.button{
					background-color: $blanco;
					color: $negro;
					display: inline-block;
					margin-top: 40px;
					@extend .border-radius-xl;
					@extend .bold;
					@extend .uppercase;
					@extend .transition;
					&:hover{
						background-color: $negro;
						color: $blanco;
					}
				}
			}
			.veil{
				background-color: rgba($negro, 0.5);
			}
		}
		ul.slick-dots{
			width: 40%;
			bottom: 50px;
			right: 10%;
			li{
				margin: 0 2.5px;
			}
		}
		.slick-prev{
			left: 42.5%;
		}
		.slick-next{
			right: 2.5%;
		}
	}
	.slider-nav-5{
		color: $negro;
		margin-bottom: 30px;
		@extend .col-100;
		@extend .left;
		li{
			a{
				@extend .left;
				@extend .col-100;
				padding: 20px;
				color: $azul-oscuro;
				@include clearfix();
			}
			cursor: pointer;
			color: $blanco;
			background-color: rgba($negro, 0.25);
			@extend .font-20;
			@extend .bold;
			@extend .relative;
			@extend .transition;
			@include opacity(.5);
			&:hover{
				.photography{
					@include rotate(15deg);
				}
			}
			&:hover,
			&.ui-state-active{
				color: $blanco;
				@include opacity(1);
			}
			&:hover,
			&.ui-state-active{
				.photography{
					@extend .no-grayscale;
				}
			}
			.photography{
				width: 50px;
				height: 50px;
				@extend .border-radius-xl;
				@extend .left;
				@extend .grayscale;
				@extend .transition-slow;
			}
			.content{
				width: calc(100% - 65px);
				@extend .right;
				.pre-title{
					@extend .font-12;
					@extend .regular;
				}
				.title{
					@extend .font-15;
				}
			}
		}
	}
}

@media (max-width: $breakpoint-tablet){
	.slider-5-container{
		.slider-5{
			.slide{
				.content{
					padding: 120px 10% 150px;
					width: 100%;
				}
			}
		}
		ul.slick-dots{
			width: 80% !important;
		}
		ul.slider-nav-5{
			li{
				.photography{
					display: none;
				}
				.content{
					width: 100% !important;
				}
			}
		}
	}
}
