.slider-2{
	.slick-list{
		margin: 0 100px;
		.slide{
			height: 100px;
			background-repeat: no-repeat;
			background-position: center center;
			&.vertical{
				background-size: auto 70%;
			}
			&.horizontal{
				background-size: 45% auto;
			}
		}
	}
	ul.slick-dots{
		text-align: center;
		width: 100%;
		margin-top: 40px;
		@extend .relative;
		li{
			background-color: rgba($negro, 0.5);
			float: none;
			display: inline-block;
			&.slick-active,
			&:hover{
				background-color: $negro;
			}
		}
	}
}

@media (max-width: $breakpoint-tablet){
	.slider-2{
		.slick-list{
			margin: 0 10%;
		}
	}
	ul.slick-dots{
		margin-top: 20px !important;
	}
}
