.slider-7-container{
	.slider-7{
		&.desktop.slick-initialized .slick-slide{
			display: grid;
		}
		&.mobile{
			display: none;
		}
		ul.slick-dots{
			text-align: center;
			width: 100%;
			margin-top: 40px;
			@extend .relative;
			li{
				background-color: rgba($negro, 0.5);
				float: none;
				display: inline-block;
				&.slick-active,
				&:hover{
					background-color: $negro;
				}
			}
		}
	}
	.slider-numbers-container{
		background-color: rgba($negro,0.1);
		height: 2px;
		@extend .col-100;
		@extend .relative;
		.line{
			left: 0;
			top: 0;
			height: 100%;
			background-color: $negro;
			@extend .transition-slower;
			@extend .absolute;
		}
	}
}
@media (max-width: $breakpoint-tablet){
	.slider-7{
		&.desktop{
			display: none;
		}
		&.mobile{
			display: block;
		}
	}

}
