.slider-3-container{
	.slider-3{
		.slide{
			.content{
				padding: 200px 30% 100px 0;
				color: $blanco;
				@extend .col-65;
				@extend .z-index-3;
				@extend .relative;
				@extend .right;
				.pre-title{
					@extend .font-18;
				}
				.year{
					margin: 10px 0 20px;
					@extend .font-32;
					@extend .bold;
				}
				.title{
					@extend .font-18;
					@extend .extra-bold;
				}
				.description{
					@extend .font-15;
				}
				.button{
					background-color: $blanco;
					color: $negro;
					display: inline-block;
					margin-top: 40px;
					@extend .border-radius-xl;
					@extend .bold;
					@extend .uppercase;
					@extend .transition;
					&:hover{
						background-color: $negro;
						color: $blanco;
					}
				}
			}
			.veil{
				background-color: rgba($negro, 0.5);
			}
		}
		ul.slick-dots{
			width: 10px;
			top: 50%;
			right: 10%;
			li{
				margin: 2.5px 0;
			}
		}
		.slick-prev{
			left: 25%;
		}
		.slick-next{
			right: 20%;
		}
	}
	.slider-nav-3{
		color: $blanco;
		right: 6%;
		width: 10%;
		height: 100%;
		@extend .z-index-4;
		@extend .absolute;
		.slick-list{
			height: 100% !important;
			padding-left: 10px !important;
			li{
				padding: 5vh 0 5vh 15px;
				cursor: pointer;
				border-left: 1px solid rgba($blanco, 0.25);
				color: rgba($blanco, 0.25);
				@extend .font-20;
				@extend .bold;
				@extend .relative;
				@extend .transition;
				&:after{
					width: 8px;
					height: 8px;
					left: -4.5px;
					top: 6vh;
					background-color: rgba($blanco, 0.25);
					content: "";
					@extend .transition;
					@extend .border-radius-xl;
					@extend .absolute;
				}
				&:hover,
				&.slick-center{
					color: $blanco;
					&:after{
						background-color: $blanco;
					}
				}
			}
		}
	}
}

@media (max-width: $breakpoint-tablet){
	.slider-3-container{
		.slider-3{
			.slide{
				.content{
					padding: 120px 10% 200px;
					width: 100%;
				}
			}
		}
		.slider-nav-3{
			right: 0;
			width: 100%;
			top: inherit;
			bottom: 50px;
			height: auto;
			.slick-list{
				height: 100% !important;
				padding-left: 10px !important;
				li{
					border: none;
					padding: 20px 0 40px;
					text-align: center;
					&::after{
						left: 0;
						top: inherit;
						bottom: 15px;
						right: 0;
						margin: auto;
					}
				}
			}
			&::after{
				width: 100%;
				height: 1px;
				background-color: rgba($blanco, 0.25);
				content: "";
				bottom: 20px;
				position: absolute;
			}
		}
	}
}
