.block-6{
	.block{
		padding: 20px;
		p,.description{
			@extend .col-100;
			@extend .left;
			@include clearfix;
		}
		img{
			max-width: 50%;
			object-fit: contain;
			display: block;
			margin: 0 auto;
		}
		.number{
			@extend .bold;
			@extend .font-80;
		}
		.title{
			@extend .light;
			@extend .font-28;
		}
		.description{
			margin-top: 20px;
			p{
				@extend .font-16;
				@extend .regular;
				&:not(:last-child){
					margin-bottom: 20px;
				}
			}
		}
	}
}
