/*------------------------------------------------------*/
/*-------------------- TRANSICIONES --------------------*/
/*------------------------------------------------------*/
$ms: 0.25s;

.no-transition{
	transition: 0;
}

a,
input,
textarea,
select,
input:focus,
textarea:focus,
select:focus,
.transition{
	transition: $ms;
}

.transition-slow{
	transition: $ms*2;
}

.transition-slower{
	transition: $ms*3;
}

/*------------------------------------------------------*/
/*----------------------- ZOOM IN ----------------------*/
/*------------------------------------------------------*/
.zoom{
	animation: zoom $ms * 125 infinite;
	-ms-animation: zoom $ms * 125 infinite;
	-moz-animation: zoom $ms * 125 infinite;
	-webkit-animation: zoom $ms * 125 infinite;
}

	@keyframes zoom{
		0%{
			transform: scale(1);
		}
		50%{
			transform: scale(1.15);
		}
		100%{
			transform: scale(1);
		}
	}

	@-webkit-keyframes zoom{
		0%{
			-webkit-transform: scale(1);
		}
		50%{
			-webkit-transform: scale(1.15);
		}
		100%{
			-webkit-transform: scale(1);
		}
	}

	@-moz-keyframes zoom{
		0%{
			-moz-transform: scale(1);
		}
		50%{
			-moz-transform: scale(1.15);
		}
		100%{
			-moz-transform: scale(1);
		}
	}

/*------------------------------------------------------*/
/*---------------------- ZOOM OUT ----------------------*/
/*------------------------------------------------------*/
.zoom-out{
	animation: zoom-out $ms * 125 infinite;
	-ms-animation: zoom-out $ms * 125 infinite;
	-moz-animation: zoom-out $ms * 125 infinite;
	-webkit-animation: zoom-out $ms * 125 infinite;
}

@keyframes zoom-out{
	0%{
		transform: scale(1.15);
	}
	50%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.15);
	}
}

@-webkit-keyframes zoom-out{
	0%{
		-webkit-transform: scale(1.15);
	}
	50%{
		-webkit-transform: scale(1);
	}
	100%{
		-webkit-transform: scale(1.15);
	}
}

@-moz-keyframes zoom-out{
	0%{
		-moz-transform: scale(1.15);
	}
	50%{
		-moz-transform: scale(1);
	}
	100%{
		-moz-transform: scale(1.15);
	}
}

.zoom-left-top{
	transform-origin: 0% 0%;
}

.zoom-left-bottom{
	transform-origin: 0% 100%;
}

.zoom-right-top{
	transform-origin: 100% 0%;
}

.zoom-right-bottom{
	transform-origin: 100% 100%;
}
