@media (max-width: $breakpoint-desktop) {
	/*------------------------------------------------------*/
	/*---------------------- GRILLAS -----------------------*/
	/*------------------------------------------------------*/
	@for $i from 1 through 12{
	  .gallery-columns-#{$i},
	  .grid-column-#{$i}{
			display: grid;
			@if $i > 9{
				grid-template-columns: repeat(8, 1fr);
			}
		}
	}

	/*------------------------------------------------------*/
	/*----------------- COLUMNAS DE TEXTO ------------------*/
	/*------------------------------------------------------*/
	@for $i from 2 through 5{
		.text-columns-#{$i}{
			@if $i > 3{
				column-count: 3;
				-webkit-column-count: 3;
				-moz-column-count: 3;
			}
		}
	}
}//Se termina el media
