.flex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	&.flex-same-children > *{
		flex-grow: 1;
		flex-basis: 0;
		flex: 1 1 0;
		width: 0;
	}
}

.justify-center{
    @include just(center);
}
.justify-between{
    @include just(space-between);
}
.justify-evenly{
    @include just(space-evenly);
}
.justify-start{
    @include just(flex-start);
}
.justify-end{
    @include just(flex-end);
}
.justify-around{
    @include just(space-around);
}

.align-center{
    @include align(center);
}
.align-between{
    @include align(space-between);
}
.align-start{
    @include align(flex-start);
}
.align-end{
    @include align(flex-end);
}
.align-around{
    @include align(space-around);
}

.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
