/*------------------------------------------------------*/
/*------------------------ PESOS -----------------------*/
/*------------------------------------------------------*/
.thin{
	font-weight: 100;
}

.extra-light{
	font-weight: 200;
}

.light{
	font-weight: 300;
}

.regular{
	font-weight: 400;
}

.medium{
	font-weight: 500;
}

.bold{
	font-weight: 700;
}

.extra-bold{
	font-weight: 800;
}

.black{
	font-weight: 900;
}

.italic{
	font-style: italic;
}

/*------------------------------------------------------*/
/*------------------ ALINEACIÓN TEXTO ------------------*/
/*------------------------------------------------------*/
.uppercase{
	text-transform: uppercase;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right
}

.text-justify{
	text-align: justify;
}

/*------------------------------------------------------*/
/*--------------------- TAMAÑOS  -----------------------*/
/*------------------------------------------------------*/
$font: 1px;
@for $i from 10 through 100{
    .font-#{$i}{
        font-size: $font*$i;
        @if $i < 21{
            line-height: 140%;
        }@else{
            line-height: 120%;
        }
    }
}
