header{
	#hamburger{
		width: 30px;
		height: 20px;
		margin: 17px 0;
		cursor: pointer;
		display: none;
		span{
			position: absolute;
			width: 100%;
			height: 1.5px;
			background-color: $blanco;
			@extend .transition-slow;
			&.line-1{
				top: 0;
			}
			&.line-2{
				top: 50%;
			}
			&.line-3{
				top: 100%;
			}
		}
		&:hover{
			span{
				&.line-1{
					@include translateY(-2px);
				}
				&.line-3{
					@include translateY(2px);
				}
			}
		}
		&.close{
			span{
				position: absolute;
				&.line-1{
					transform: rotate(45deg);
					top: 10px;
				}
				&.line-2{
					transform: rotate(-45deg);
				}
				&.line-3{
					@include opacity(0);
				}
			}
		}
	}
	ul{
		li{
			&.menu-item-has-children{
				@extend .relative;
				ul.sub-menu{
					width: 150px;
					background-color: $negro;
					top: 100%;
					right: 0;
					z-index: -10;
					pointer-events: none;
					@extend .absolute;
					@extend .transition;
					@include opacity(0);
					@include translateY(20px);
					&:before{
						width: 10px;
						height: 10px;
						background-color: $negro;
						content: "";
						top: -5px;
						right: 30px;
						@extend .absolute;
						@include rotate(45deg);
					}
					li,
					li a{
						@extend .col-100;
						@extend .left;
					}
				}
				&:hover{
					ul.sub-menu{
						pointer-events: auto;
						@extend .z-index-1;
						@include opacity(1);
						@include translateY(0);
					}
				}
			}
		}
	}
}

.menu-responsive{
	right: -100%;
	width: 100%;
	padding: 100px 10% 70px !important;
	bottom: 0;
	top: 0;
	position: fixed;
	z-index: 9;
	background-color: rgba($blanco, 0.8);
	@extend .transition-slower;
	.menu-container {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		float: left;
		position: relative;
		z-index: 1;
		ul{
			@include clearfix();
			li{
				@extend .left;
				@extend .col-100;
				a{
					color: $negro;
					padding: 15px 0;
					@extend .font-28;
					@extend .text-center;
					@extend .left;
					@extend .col-100;
				}
				&.active{
					a{
						opacity: 0.5;
					}
				}
			}
		}
	}
	&.opened {
			right: 0px !important;
	}
}
