@mixin clearfix{
	&:before,
	&:after{
		content: " ";
		display: table;
	}

	&:after{
		display: block;
		clear: both;
		height: 1px;
		margin-top: -1px;
		visibility: hidden;
	}
	&{
		*zoom: 1;
	}
}

@mixin align($position) {
  align-items: $position;
}

@mixin just($position){
  justify-content: $position;
}

@mixin direction($position) {
  flex-direction: $position;
}

@mixin transition($ms) {
  -webkit-transition: all $ms ease-in-out;
  -moz-transition: all $ms ease-in-out;
  -ms-transition: all $ms ease-in-out;
  -o-transition: all $ms ease-in-out;
  transition: all $ms ease-in-out;
}

@mixin translateY($rem) {
  -webkit-transform: translateY($rem);
  -moz-transform: translateY($rem);
  -ms-transform: translateY($rem);
  -o-transform: translateY($rem);
  transform: translateY($rem);
}

@mixin rotate($rem) {
  -webkit-transform: rotate($rem);
  -moz-transform: rotate($rem);
  -ms-transform: rotate($rem);
  -o-transform: rotate($rem);
  transform: rotate($rem);
}

@mixin transition-delay($ms){
  -webkit-transition-delay: $ms;
  -moz-transition-delay: $ms;
  -ms-transition-delay: $ms;
  -o-transition-delay: $ms;
  transition-delay: $ms;
}

@mixin scale($scale){
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  -o-transform: scale($scale);
  transform: scale($scale);
}

@mixin blur($rem){
  -webkit-filter: blur($rem);
  -moz-filter: blur($rem);
  -ms-filter: blur($rem);
  -o-filter: blur($rem);
  filter: blur($rem);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}

@mixin icomoon($icon, $position: "before", $replace: false) {
  @if $replace {
    font-size: 0;
  }
  &:#{$position} {
    @extend .#{$icon};
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    @if $replace {
      font-size: $font * 16;
    }
    @content;
  }
}

@mixin linear-gradient($color-one,$color-two,$degrees) {
  background: -moz-linear-gradient($degrees, $color-one 0%, $color-two 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $color-one), color-stop(100%, $color-two));
  background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
  background: -o-linear-gradient($degrees, $color-one 0%, $color-two 100%);
  background: -ms-linear-gradient($degrees, $color-one 0%, $color-two 100%);
  background: linear-gradient($degrees, $color-one 0%, $color-two 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
}

@mixin border-radius($top-left:null, $top-right:null, $bottom-right:null, $bottom-left:null){
	-webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
	-moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
	-ms-border-radius: $top-left $top-right $bottom-right $bottom-left;
	border-radius: $top-left $top-right $bottom-right $bottom-left;  
}