html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td{
	margin:0;
	padding:0;
}

html,body,figure{
	margin:0;
	padding:0;
}

*:focus{
	outline: none;
}

*{
	box-sizing: border-box;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img{
	border:0 !important;
}

input{
	border: 0 none;
  background: none repeat scroll 0 0 transparent;
  outline: medium none;
}

input,
textarea,
button,
select{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}

ol,ul{
	list-style:none;
}

caption,th{
	text-align:left;
}

q:before,q:after{
	content:'';
}

abbr,acronym{
	border:0;
}

a{
	text-decoration: none;
}

textarea{
 resize: none;
}
