.wysiwyg{
	@extend .col-100;
	@extend .left;
	@extend .clearfix;
	/*------------------------------------------------------*/
	/*----------------------- TÍTULOS ----------------------*/
	/*------------------------------------------------------*/
	@for $i from 1 through 6{
		h#{$i}{
			@extend .bold;
			@if $i == 1{
				font-size: $font * 42;
			}
			@elseif $i < 3{
				font-size: $font * 42 / ($i/1.7);
			}@else{
				font-size: ($font * 42) / ($i/2.25);
			}
		}
	}
	/*------------------------------------------------------*/
	/*---------------------- CONTENIDO ---------------------*/
	/*------------------------------------------------------*/
	p,ol,ul{
		@extend .font-16;
		margin: 18px 0;
	}
	a{
		padding: 0 5px;
		border-bottom: 1px dotted;
		@extend .bold;
		&:hover{
			border-bottom: 1px solid;
			box-shadow: inset 0px -50px 0 0 $negro;
		}
	}
	/*------------------------------------------------------*/
	/*------------------------ LISTAS ----------------------*/
	/*------------------------------------------------------*/
	ul,ol{
		padding-left: 7%;
		li{
			margin: 4px 0;

		}
	}
	ul{
		li{
			@extend .relative;
			@include icomoon("icon-chevron-derecha");
			&:before{
				font-size: $font * 9;
				color: $blanco;
				background-color: $negro;
				width: 10px;
				height: 10px;
				left: -18px;
				top: 6.5px;
				@extend .border-radius-xl;
				@extend .absolute;
			}
		}
	}
	ol{
		list-style: decimal;
	}
	/*------------------------------------------------------*/
	/*------------------------- CITA -----------------------*/
	/*------------------------------------------------------*/
	blockquote{
		padding-left: 2.5%;
		margin-top: 20px;
		margin-bottom: 20px;
		@extend .italic;
		@extend .wrap-xl;
		@extend .relative;
		&:before{
			position: absolute;
			height: calc(100% - 46px);
			top: 26px;
			left: 0;
			width: 4px;
			background-color: $negro;
		}
		p,ol,ul{
			@extend .font-32;
		}
	}

	/*------------------------------------------------------*/
	/*------------------------ MEDIA -----------------------*/
	/*------------------------------------------------------*/
	p.wp-caption-text{
		margin: 10px 0;
		color: $azul-oscuro;
		@extend .italic;
		@extend .font-11;
	}
	.wp-caption{
		&.aligncenter{
			margin: 0 auto;
		}		
		&.alignnone{
			width: 100% !important;
			img{
				width: 100%;
				height: auto;
			}
		}
		&.alignleft,
		&.alignright{
			width: 35% !important;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	img{
		height: auto;
		&.alignleft,
		&.alignright{
			width: 35%;
		}
		&.alignleft{
			float: left;
			margin: 0 18px 18px 0;
		}
		&.alignright{
			float: right;
			margin: 0 0 18px 18px;
		}
		&.aligncenter{
			margin: 0 auto;
			display: block;
		}
		&.alignnone{
			@extend .wrap-xl;
		}
	}
	iframe{
		height: 60vh;
		@extend .wrap-xl;
	}
	.gallery{
		grid-gap: $font * 10;
		.gallery-item{
			width: 100% !important;
			margin: 0 !important;
			height: 20vh;
			overflow: hidden;
			@extend .relative;
			.gallery-icon{
				@extend .left;
				img{
					top: 0;
					left: 0;
					height: auto;
					width: 100%;
					right: 0;
					bottom: 0;
					margin: auto;
					@extend .transition-slower;
				}
				a{
					padding: 0;
					width: 100%;
					height: 100%;
					border: none;
					@extend .absolute;
					&:hover{
						img{
							@include scale(1.15);
						}
						&:hover{
							box-shadow: none;
						}
					}
				}
			}
			.gallery-caption{
				display: none;
			}
		}
		br{
			display: none;
		}
	}
}
